@page "/"

<h1>Hello!</h1>

<h4>I am in the process of redesigning this website. Please excuse the mess.</h4>

<div style="padding-top: 20px; width: fit-content;">
    <h5>If you want to see some of my code here are some links:</h5>
    
    <div style="display: flex; justify-content: space-around">
        <MudButton Variant="Variant.Filled" Link="https://github.com/dalton-baker" StartIcon="@Icons.Custom.Brands.GitHub">
            Github
        </MudButton>

        <MudButton Variant="Variant.Filled" Link="https://gitlab.com/dalton_baker" StartIcon="fab fa-gitlab">
            Gitlab
        </MudButton>
    </div>
</div>

<div style="padding-top: 20px; width: fit-content;">
    <h5>If you want to contact me, here are some more links:</h5>

    <div style="display: flex; justify-content: space-around">
        <MudButton Variant="Variant.Filled" Link="mailto: dalton.s.baker@gmail.com" StartIcon="@Icons.Custom.Brands.Google">
            Gmail
        </MudButton>

        <MudButton Variant="Variant.Filled" Link="https://www.linkedin.com/in/dalton-baker/" StartIcon="@Icons.Custom.Brands.LinkedIn">
            LinkdIn
        </MudButton>
    </div>
</div>

<div style="padding-top: 20px; width: fit-content;">
    <h5>Here are some websites I made and am working on:</h5>

    <div style="display: flex; justify-content: space-around">
        <MudButton Variant="Variant.Filled" Link="https://metalsmarketdisplay.com" StartIcon="@Icons.Material.Filled.ShowChart">
            metalsmarketdisplay.com
        </MudButton>

        <MudButton Variant="Variant.Filled" Link="https://dakotahstaxes.com/" StartIcon="@Icons.Material.Filled.Business">
            dakotahstaxes.com
        </MudButton>
    </div>
</div>