@page "/"

<h1>Hello!</h1>

<div>
    I am in the process of redesigning this website. Please excuse the mess.
</div>

<div>
    If you want to see some of my code here are some links:
    <br />

    <MudButton Link="https://github.com/dalton-baker" StartIcon="@Icons.Custom.Brands.GitHub">
        Github
    </MudButton>

    <MudButton Link="https://gitlab.com/dalton_baker" StartIcon="fab fa-gitlab">
        Gitlab
    </MudButton>
</div>

<div>
    If you want to contact me, here are some more links:
    <br />

    <MudButton Link="mailto: dalton.s.baker@gmail.com" StartIcon="@Icons.Custom.Brands.Google">
        Gmail
    </MudButton>

    <MudButton Link="https://www.linkedin.com/in/dalton-baker/" StartIcon="@Icons.Custom.Brands.LinkedIn">
        LinkdIn
    </MudButton>
</div>

<div>
    Here are some websites I made and am working on:
    <br />

    <MudButton Link="https://metalsmarketdisplay.com" StartIcon="@Icons.Material.Filled.ShowChart">
        metalsmarketdisplay.com
    </MudButton>

    <MudButton Link="https://dakotahstaxes.com/" StartIcon="@Icons.Material.Filled.Business">
        dakotahstaxes.com
    </MudButton>
</div>